<!--<h1>New Shipping</h1>-->

<%= link_to 'Back', shippings_path, :class => "w3-button w3-orange w3-hover-green w3-round-xxlarge w3-margin-left", :role => "button" %>

<%= render 'form', shipping: @shipping %>
