<% provide(:title, "About") %>

<div class="w3-container">
  <h1 class="w3-center">Our Story</h1>
    <p class="w3-center">Established in 2010 by Rory, Kasia, Geneci and Ronan, The Shoe@Web has 10 years of experience in providing footwear.</br></p>
    <p class="w3-center">There is no secret to The Shoes@Web success, it has been built on our unrivalled customer service, our wide range of stylish shoes at competitive prices and our exceptionally fast delivery.</br></p>
    
    <p class="w3-center">We understand that everyone has individual styles and specific needs, and we take pride in ensuring each customer gets the attention and service that they need. It is of the utmost importance to us that everyone leaving our shop is smiling.</br></p>
    <p class="w3-center">This service is extended through our website, so customers can email us or give us a call and we will gladly assist with any query. We want you to have as pleasurable experience as possible.</br></p>
</div>

