<% provide(:title, "Home") %>

<!-- Image header -->
<div class="w3-container">
  <div class="w3-display-container">
      <%= image_tag("shoes2.jpg", alt: "Shoes", style: "width:100%")  %> 
      <div class="w3-display-topleft w3-text-white" style="padding:24px 48px">
          <h1></h1>
      </div>
  </div>
</div>

<!-- Card Image Section -->
<div class="w3-panel">
  <div class="w3-row-padding w3-margin-top">
    <div class="w3-third">
      <div class="w3-card w3-hover-opacity">
        <%#= link_to (image_tag("menShoe.jpg", alt: "Mens Shoe", style: "width:100%")), items_url %> 
        <%= link_to (image_tag("menShoe.jpg", alt: "Mens Shoe", style: "width:100%")), men_url %> 
        <div class="w3-container w3-center">
          <h5>Mens Shoes</h5>
        </div>
      </div>
    </div>  
    
    <div class="w3-third">
      <div class="w3-card w3-hover-opacity">
        <%#= link_to (image_tag("womShoe.jpg", alt: "Womens Shoe", style: "width:100%")), items_url %> 
        <%= link_to (image_tag("womShoe.jpg", alt: "Mens Shoe", style: "width:100%")), women_url %> 
        <div class="w3-container w3-center">
          <h5>Womens Shoes</h5>
        </div>
      </div>
    </div>
  
    <div class="w3-third">
      <div class="w3-card w3-hover-opacity">
        <%#= link_to (image_tag("kidShoe.jpg", alt: "Kids Shoe", style: "width:100%")), items_url %> 
        <%= link_to (image_tag("kidShoe.jpg", alt: "Mens Shoe", style: "width:100%")), kids_url %> 
        <div class="w3-container w3-center">
          <h5>Kids Shoes</h5>
        </div>
      </div>
    </div>
  </div>
</div>

<br>


<!--<div class="categories1 w3-container w3-border">
  <div class="w3-display-container ">
    <h1>Categories</h1>
    <%# @categories.each do |category| %>
    
    <div class="w3-container">
     <a href="/category/<%#= category.cat_name %>"> <h1><%#= category.cat_name %></h1><!--<h1><%#= category.cat_title %></h1>-->
     <!--
<a href="/category/<%#= category.title %>"> 
<img src="/assets/<%# category.image %>" alt="<%# category.cat_name %>" />-->
     <!--<p><%#= category.description %></p>
     <%#= image_tag("shoes2.jpg", alt: "Shoes", style: "width:100%")  %>
    </div>
    <%# end %>
       
  </div>
</div>-->
