<% provide(:title, "Home") %>

<!-- Image header -->
<div class="w3-container">
  <div class="w3-display-container">
      <%= image_tag("shoes2.jpg", alt: "Shoes", style: "width:100%")  %> 
      <div class="w3-display-topleft w3-text-white" style="padding:24px 48px">
          <h1></h1>
      </div>
  </div>
</div>

<!-- Card Image Section -->
<div class="w3-panel">
  <div class="w3-row-padding w3-margin-top">
    <div class="w3-third">
      <div class="w3-card w3-hover-opacity">
        <%= link_to (image_tag("menShoe.jpg", alt: "Mens Shoe", style: "width:100%")), items_url %> 
        <div class="w3-container w3-center">
          <h5>Mens Shoes</h5>
        </div>
      </div>
    </div>  
    
    <div class="w3-third">
      <div class="w3-card w3-hover-opacity">
        <%= link_to (image_tag("womShoe.jpg", alt: "Mens Shoe", style: "width:100%")), items_url %> 
        <div class="w3-container w3-center">
          <h5>Womens Shoes</h5>
        </div>
      </div>
    </div>
  
    <div class="w3-third">
      <div class="w3-card w3-hover-opacity">
        <%= link_to (image_tag("kidShoe.jpg", alt: "Mens Shoe", style: "width:100%")), items_url %> 
        <div class="w3-container w3-center">
          <h5>Kids Shoes</h5>
        </div>
      </div>
    </div>
  </div>
</div>

<br>