<div class="w3-container">
  <div class="w3-panel w3-orange w3-jumbo w3-center w3-topbar w3-bottombar w3-border-black">Categories</div>

    <% @categories.each do |category| %>
    
    <!-- Category Section -->
    <div class="cate">
      <div class="w3-card-4 w3-green w3-quarter w3-margin-right w3-center w3-margin-bottom"> <!--style="width:20%">-->
            <%= image_tag("menShoe.jpg", alt: "Mens Shoe", style: "width:100%") %>
              <a href="/category/<%= category.cat_name %>"> <h5><%= category.cat_name %></h5><!--<h1><%#= category.cat_title %></h1>-->
              <!--<p><%#= category.description %></p>-->
        </div>  
    </div>
    <% end %>
</div>