<!--<h1>New Payment</h1>-->

<%= link_to 'Back', payments_path, :class => "w3-button w3-orange w3-hover-green w3-round-xxlarge w3-margin-left", :role => "button" %>

<%= render 'form',  payment: @payment %>
