<!--<h1>Editing Category</h1>

<%#= render 'form', category: @category %>

<%#= link_to 'Show', @category %> |
<%#= link_to 'Back', categories_path %>-->

<div class="w3-container">
    <h1>Editing Category</h1>
    <%= link_to 'Show', @category, :class => "w3-button w3-orange w3-hover-green w3-round-large w3-margin-left", :role => "button" %> 
    <%= link_to 'Back', categories_path, :class => "w3-button w3-orange w3-hover-green w3-round-large w3-margin-left", :role => "button" %>
    <%= render 'form', category: @category %>
</div>
